<!-- loading screen -->
<app-loading-screen></app-loading-screen>

<!-- terms and conditions lightbox -->
<nz-modal [(nzVisible)]="showTermsAndConditions" [nzTitle]="'Terms and Conditions'" [nzContent]="termsAndConditionsContent" [nzFooter]="termsAndConditionsFooter" [nzClosable]="false" nzWidth="90%" >
    <ng-template #termsAndConditionsContent>
        <app-terms-and-conditions></app-terms-and-conditions>
</ng-template>    
    <ng-template #termsAndConditionsFooter>
        <div style="display: flex;">
            <button (click)="showTermsAndConditions = !showTermsAndConditions" mat-raised-button color="primary" style="padding: 10px;">Close</button>
        </div>
    </ng-template>
</nz-modal>

<div style="display: flex ;width: 100%; justify-content: center;margin-bottom: 10px;">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
</div>
<h2 style="text-align: center;">Welcome To GoProbate</h2>
<form [formGroup]="createAccountForm" nz-form>
    <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName">
        <mat-error *ngIf="createAccountForm.get('fullName').invalid">{{formErrorSvc.getErrorMessage('fullName', createAccountForm.get('fullName'))}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="createAccountForm.get('address').invalid">{{formErrorSvc.getErrorMessage('address', createAccountForm.get('address'))}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
        <mat-label>Company Name (optional)</mat-label>
        <input matInput formControlName="companyName">
        <mat-error *ngIf="createAccountForm.get('companyName').invalid">{{formErrorSvc.getErrorMessage('companyName', createAccountForm.get('companyName'))}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="createAccountForm.get('email').invalid">{{formErrorSvc.getErrorMessage('email', createAccountForm.get('email'))}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="createAccountForm.get('password').invalid">{{formErrorSvc.getErrorMessage('password', createAccountForm.get('password'))}}</mat-error>
    </mat-form-field>

    <nz-form-item style="width: 100%; margin-bottom: 10px;">
        <nz-form-control nzErrorTip="you must accept the terms and conditions">
            <label nz-checkbox name="termsAndConditions" formControlName="termsAndConditions" style="margin-right: 10px"></label>
            <nz-form-label nzFor="termsAndConditions">I have read and understand the
                <p style="color: blue; margin: 0px; margin-left: 3px; cursor: pointer;" (click)="showTermsAndConditions = !showTermsAndConditions">Terms and Conditions</p>
            </nz-form-label>
        </nz-form-control>
    </nz-form-item>
</form>

<button (click)="createAccount()" mat-raised-button color="primary" style="width: 100%; margin-bottom: 20px; padding: 10px;">Create Account</button>
<p style="text-align: end; margin-bottom: 20px; font-style: italic; font-size: 14px; cursor: pointer;" (click)="alreadyHaveAnAccount()">Already have an account</p>
