

<h2>Profile Information</h2>
<form [formGroup]="personalInfoForm" nz-form>
    <div class="section-wrapper">
        <div class="left-div">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div class="right-div">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="left-div">
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullName">
            </mat-form-field>
        </div>
        <div class="right-div">
            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName">
            </mat-form-field>
        </div>
    </div>
    <div class="ef-form-field-section-wrapper">
        <div class="left-div">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
        </div>
        <div class="right-div"></div>
    </div>
</form>

<button (click)="updateProfile()" mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px; padding: 10px;">Update Profile</button>
<button (click)="changeEmail()" mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px; padding: 10px;">Change Email</button>
<button (click)="changePassword()" mat-raised-button color="primary" style="width: 100%; padding: 10px;">Change Password</button>
